* {
    font-family: 'Roboto Slab', serif;
}
.navbar,
footer,
a.btn {
    background-color: #323232;
}
.container-fluid {
    background-color: #DDD0C8;
    padding-left: 27px !important;
    padding-right: 27px !important;
}
img {
    max-width: 100% !important;
    height: auto !important;
}
.typewriter {
    font-size: 20px;
}
div.card {
    background-color: #E3E2DF;
}
.anchor {
    display: block;
    height: 65px; /* this is the height of your header */
    margin-top: -65px; /* this is again negative value of the height of your header */
    visibility: hidden;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    width: 100% !important;
}
.carousel-indicators {
    bottom: -2.4rem !important;
    filter: invert(100%);
}
.footer-content {
    font-size: 16px;
}
a i {
    font-size: 28px;
    padding: 5px 8px 0 0;
}
@media screen and (max-width: 480px) {
    * {
        font-size: 0.921em;
    }
    .anchor {
        display: block;
        height: 260px; /* this is the height of your header */
        margin-top: -260px; /* this is again negative value of the height of your header */
        visibility: hidden;
    }
}
